@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic');
html {
    width: 100%;
    height: 100%;

}
body {
    width: 100%;
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;

}
h1, h2, h3, h4 {
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
    color: #042b64;
}
@media (max-width: 610px) {
    h1,h2,h3,h4 {
        font-size: 18px;
    }
}
h1.inverse, h2.inverse, h3.inverse, h4.inverse {
    color: #fff;
}
a:hover, a:focus {
    text-decoration: none;
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #96475c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1e405b, #96475c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1e405b, #96475c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1e405b, #96475c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1e405b, #96475c); /* Standard syntax */
}
.preload .bg-logo {
    background: url("/img/loader_logo.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -124px;
    margin-top: -56px;
    width: 331px;
    height: 109px;
}
.loader {
    position: absolute;
    top: 55px;
    left: 126px;
    margin-left: -33px;
    margin-top: -33px;
    border: 4px solid #999;
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    animation: spin 2s linear infinite;
}
@media (max-width: 768px) {
    .preload .bg-logo {
        margin-left: -62px;
        margin-top: -28px;
        width: 162px;
        height: 55px;
    }
    .loader {
        top: 27px;
        left: 63px;
        margin-left: -17px;
        margin-top: -16px;
        border: 2px solid #999;
        border-top: 2px solid #fff;
        width: 32px;
        height: 32px;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.custom-btn {
    background: #01255f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to right, #854158, #01255f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right, #854158, #01255f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, #854158, #01255f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #854158, #01255f); /* Standard syntax */
    padding: 10px 45px;
    color: #fff;
    border: none;
}
.custom-btn:hover,
.custom-btn:focus {
    border: none;
    background: #854158;
}
@media (max-width: 610px) {
    .custom-btn {
        padding: 10px 0;
        text-align: center;
        width: 280px;
        max-width: 100%;
    }
}

.modal-backdrop {
    z-index: 1010;
}
#photosCarousel  {
    z-index: 1020;
    background: #00081e;
}
#photosCarousel img {
    max-width: 100%;
    max-height: 75vh;
    margin: 0 auto;
}
#photosCarousel p {
    margin-top: 0;
}

#photosCarousel .content {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1015;
    color: white;
}
#photosCarousel .slide-content {
    padding: 2px;
}
#photosCarousel .slide-content:focus { outline: none; }
#photosCarousel .menu-btn {
    top: 5px;
    left: 5px;
    z-index: 1080;
}
@media(max-width:768px) {
    #photosCarousel .content {
        padding-top: 70px;
    }
}

#photosCarousel .custom-close:hover::before, #photosCarousel .custom-close:hover::after {
    background: #ddd;
}
#photosCarousel .custom-close::before, #photosCarousel .custom-close::after {
    background: #fff;
}
#photosCarousel .bar1,#photosCarousel .bar2,#photosCarousel .bar3 {
    background-color: #fff;
}

#albumCarousel  {
    z-index: 1020;
    background: #f0fdf4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to right, #f0fdf4, #e6eff8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right, #f0fdf4, #e6eff8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, #f0fdf4, #e6eff8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f0fdf4, #e6eff8); /* Standard syntax */
}
#albumCarousel .slide {
    background: #f0f0f0;
    background: -webkit-linear-gradient(to right, #ececec, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right, #ececec, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, #ececec, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ececec, #fff); /* Standard syntax */
    padding: 0;
    margin: 10px 10px 40px 10px;
    -webkit-box-shadow: 6px 6px 15px -5px rgba(179,179,179,1);
    -moz-box-shadow: 6px 6px 15px -5px rgba(179,179,179,1);
    box-shadow: 6px 6px 15px -5px rgba(179,179,179,1);
    border: 1px solid rgba(179,179,179,0.5);
}
#albumCarousel .slide:focus { outline: none; }
#albumCarousel .disk {
    padding: 0;
    margin: 0;
}
#albumCarousel .disk .cd {
    background: url("/img/disc.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    top: 13px;
    right: 13px;
    bottom: 13px;
    left: 13px;
}
#albumCarousel .disk img {
    width: 100%;
    height: auto;
}
#albumCarousel .text {
    padding: 10px 50px;
    color: #001a3b;
}
#albumCarousel .text h3 {
    margin-bottom: 0;
    color: #001a3b;
}
#albumCarousel ol {
    padding: 0 15px;
    margin-bottom: 30px;
    line-height: 1.5;
}
#albumCarousel .description {
    line-height: 1.3;
    font-size: 12px;
}

#albumCarousel .content {
    padding-top: 100px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1015;
    color: #072c63;
}
#albumCarousel .menu-btn {
    top: 5px;
    left: 5px;
    z-index: 1080;
}
#albumCarousel hr {
    border-top: 2px solid #001a3b;
    width: 70px;
    margin: 13px 0;
}
@media(max-width:768px) {
    #albumCarousel .content {
        padding-top: 60px;
    }
    #albumCarousel .text {
        padding: 10px 30px;
    }
    #albumCarousel .description {
        line-height: 1.7;
    }
    #albumCarousel  {
        background: #f0fdf4;
    }
}

#albumCarousel .custom-close:hover::before, #albumCarousel .custom-close:hover::after {
    background: #072c63;
}
#albumCarousel .custom-close::before, #albumCarousel  .custom-close::after {
    background: #072c63;
}
#albumCarousel .bar1,#albumCarousel .bar2,#albumCarousel .bar3 {
    background-color: #042b64;
}


#fullAbout {
    background: #e2eaed;
}
#fullAbout .content {
    padding: 20px;
    position: relative;
    z-index: 1015;
    color: #052c64;
    width: 100%;
}
#fullAbout .custom-close:hover::before, #fullAbout .custom-close:hover::after {
    background: #042b64;
}
#fullAbout .custom-close::before, #fullAbout .custom-close::after {
    background: #052c64;
}
#fullAbout .custom-close {
    right: 15px;
    top: 40px;
}

#mobileMenu  {
    z-index: 1020;
}
#mobileMenu .modal-dialog {
    margin-top: 0;
}
#mobileMenu .bg {
    background: #d9e0e7;
    padding-top: 20px;
}
#mobileMenu .content {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1015;
    color: #052c64;
    width: 100%;
}

#mobileMenu .custom-close:hover::before, #mobileMenu .custom-close:hover::after {
    background: #042b64;
}
#mobileMenu .custom-close::before, #mobileMenu .custom-close::after {
    background: #052c64;
}
#mobileMenu .custom-close {
    left: 5px;
}
#mobileMenu img {
    position: absolute;
    top: -2px;
    height: 46px;
}
#mobileMenu .content {
    margin-left: 45px;
}
#mobileMenu .item a {
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
    font-weight: 700;
    color: #052c64;
}
#mobileMenu .item {
    padding: 10px 0;
}
#mobileMenu hr {
    border-top: 3px solid #052c64;
    width: 70px;
    margin: 10px 0;
}
#mobileMenu .social-btn i {
    border-radius: 50%;
    border: 2px solid #052c64;
    padding: 6px 5px 2px 5px;
    color: #052c64;
}
#mobileMenu .social-btn {
    display: inline-block;
    margin-right: 5px;
}
/* navbar */
.menu {
    background-color: rgba(4,13,40,0.8);
    line-height: 50px;
    margin-top: -50px;
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
}
.menu-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.menu-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    z-index: 1030;
}
.menu img {
    height: 38px;
    margin-right: 15px;
    margin-left: 5px;
}
.menu .left, .menu .right, .menu .social-btn, .menu #lang {
    display: inline;
}
.menu .right {
    float: right;
}
.menu a {
    color: #fff;
    margin: 0 12px;
}
.menu a:hover, .menu a:focus {
    color: #b6f9d3;
}
.social-btn i {
    border-radius: 50%;
    border: 2px solid #bbb;
    padding: 6px 5px 2px 5px;
    color: #ccc;
}
.menu .social-btn a {
    margin: 0 6px;
}
.menu .social-btn > a:hover i,
.menu .social-btn > a:focus i {
    border: 2px solid #b6f9d3;
    color: #b6f9d3;
}
.menu .dropdown-menu {
    background-color: rgba(4,13,40,0.8);
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 16px 0;
}
.menu .dropdown-menu > li > a {
    color: #fff;
}
.menu .dropdown-menu > li > a:hover,
.menu .dropdown-menu > li > a:focus {
    color: #b6f9d3;
    background: none;
}
@media(max-width:1200px) {
    .menu {
        display: none;
    }
}

.intro-section {
  height: 100%;
  background: #96475c; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1e405b, #96475c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1e405b, #96475c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1e405b, #96475c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1e405b, #96475c); /* Standard syntax */
}
.intro-section .bg-image {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background: url("/img/bg_intro.png") no-repeat center center;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.intro-section .bg-changeable-image {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: url("/img/bg_changeable.jpg") no-repeat center center;
    -webkit-background-size: 60% auto;
    -moz-background-size: 60% auto;
    -o-background-size: 60% auto;
    background-size: 60% auto;
}

.intro-section .link {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}
@media all and (orientation: portrait) {
    .intro-section .link {
        top: auto;
        bottom: 7%;
    }
}
/*@media(max-height:500px) {*/
    /*.intro-section .link {*/
        /*top: auto;*/
        /*bottom: 30px;*/
    /*}*/
/*}*/
@media (max-width: 610px) {
    .intro-section .link {
        display: none;
    }
    .intro-section {
        height: 40%;
    }
}

.intro-section .link a {
    display: block;
    margin-top: 180px;
    color: #fff;
}
.intro-section .link a:hover,
.intro-section .link a:focus {
    color: #b6f9d3;
    text-decoration: none;
}

/* ABOUT */
.about-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #1e405b;
    color: #fff;
    background: url("/img/bg_about.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
}
.about-section .text {
    margin-top: 20px;
    line-height: 1.7;
}
.about-section .read-more a {
    color: #b6f9d3;
}

.about-section .read-more {
    padding: 15px 0;
    font-size: 15px;
    text-transform: none;
}

.about-section .slick-musicians {
    margin-top: 40px;
    width: 3000px;
    margin-bottom: 30px;
}
.about-section .slide {
    height: 230px;
    width: 169px;
    text-align: center;
    margin: 0;
}
.about-section .musician {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer; cursor: hand;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
}
.about-section .musician:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}
.about-section h3 {
    margin-top: 120px;
    font-size: 18px;
    font-weight: 600;
}
.about-section p {
    text-transform: lowercase;
}
.about-section hr {
    border-top: 2px solid #fff;
    width: 80px;
    margin-top: 0;
    margin-bottom: 5px;
}

@media(max-width:768px) {
    .about-section .text {
        text-align: left;
    }
}
@media (max-width: 610px) {
    .about-section {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .about-section .slick-musicians {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* AUDIO */
.audio-section {
    padding-top: 50px;
    padding-bottom: 10px;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
}
.audio-section .album {
    cursor: pointer; cursor: hand;
    margin-right: 100px;
    width: 230px;
}
.audio-section .title {
    text-transform: uppercase;
    color: #052c65;
    font-size: 18px;
    font-weight: 700;
}

.audio-section .album .disk {
    background: url("/img/disc.svg") no-repeat top center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    top: 50px;
    height: 230px;
    width: 230px;
    position: absolute;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 0;
}
.audio-section .album:hover .disk,
.audio-section .album.focused .disk {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}

.audio-section .album img {
    position: relative;
    z-index: 1;
    top: 90px;
    -webkit-box-shadow: 10px 10px 19px 0px rgba(204,204,204,1);
    -moz-box-shadow: 10px 10px 19px 0px rgba(204,204,204,1);
    box-shadow: 10px 10px 19px 0px rgba(204,204,204,1);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.audio-section .album:hover img,
.audio-section .album.focused img {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.audio-section .album p {
    margin-top: 130px;
    margin-bottom: 10px;
}

.audio-section .slick-albums {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 4000px;
}
.listen-section {
    padding-top: 50px;
    padding-bottom: 80px;
}
@media (max-width: 610px) {
    .audio-section {
        padding-bottom: 0;
        padding-top: 20px;
    }
    .audio-section .slick-albums {
        width: 100%;
    }
    .audio-section .container {
        margin: 0 -15px;
    }
    .audio-section .slick-arrows .slick-next {
        right: 25px;
    }
    .audio-section .slick-arrows .slick-prev {
        left: 25px;
    }
    .audio-section .album {
        margin-right: 20px;
        width: 170px;
    }
    .audio-section .album .disk {
        height: 170px;
        width: 170px;
    }
    .listen-section {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

/* EVENTS */
.events-section {
    padding-top: 50px;
    padding-bottom: 70px;
    background: url("/img/bg_events.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.events-section table {
    width: 100%;
    margin-top: 30px;
}
.events-section td {
    padding: 5px 2px;
    height: 100%;
}
.events-section td .item {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 15px;
}
.events-section .month, .events-section .day, .events-section .title {
    color: #042b64;
    line-height: 1;
}
.events-section .title {
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
    min-height: 30px;
    font-weight: 700;
}
.events-section .day {
    font-size: 36px;
}
@media (max-width: 610px) {
    .events-section {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

/* PHOTO */
.photo-section {
    background: #00081d;
    padding-top: 50px;
    padding-bottom: 10px;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
}
.photo-section .photo {
    cursor: pointer; cursor: hand;
    padding: 30px 8px 20px 8px;
}
.photo-section .photo img {
    max-height: 300px;
    max-width: 80vw;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.photo-section .photo img:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}
.photo-section .slick-photo {
    width: 4000px;
}
@media (max-width: 610px) {
    .photo-section {
        padding-top: 20px;
        padding-bottom: 5px;
    }
}

/* VIDEO */
.video-section {
    background: #00081d;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #fff;
    font-weight: 700;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
}
.video-section iframe {
    height: 200px !important;
    width: 360px !important;
    max-width: 80vw !important;
}
.video-section .video {
    padding: 30px 8px 15px 8px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.video-section .video:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}
.video-section .title {
    text-transform: uppercase;
    font-size: 18px;
}
.video-section .slick-video {
    width: 4000px;
}
@media (max-width: 610px) {
    .video-section {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

/* RIDER */
.rider-section {
    padding-top: 50px;
}
.rider-section h1 {
    margin-bottom: 35px;
}
.rider-section .sqr {
    background: #3c7497;
    max-width: 200px;
    padding: 15px 20px;
    -webkit-box-shadow: 3px 17px 91px -11px rgba(168,166,168,1);
    -moz-box-shadow: 3px 17px 91px -11px rgba(168,166,168,1);
    box-shadow: 3px 17px 91px -11px rgba(168,166,168,1);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.rider-section .sqr a,
.rider-section .sqr a:focus,
.rider-section .sqr a:hover {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.rider-section .sqr img {
    height: 23px;
}
.rider-section .download {
    color: #273e5f;
    font-weight: 700;
    line-height: 3;
    font-size: 16px;
    padding-left: 20px;
}
.rider-section .download:hover,
.rider-section .download:focus {
    color: #45628c;
}
.rider-section .center-block {
    max-width: 200px;
}

/* SUPPORT */
.support-section {
    padding-top: 20px;
    padding-bottom: 40px;
}
.support-section h1 {
    margin-bottom: 20px;
}
@media (max-width: 610px) {
    .rider-section {
        padding-top: 20px;
        line-height: 1.7;
    }
    .rider-section .center-block {
        margin-bottom: 20px;
    }
    .support-section {
        padding-top: 10px;
    }
}

/* FOOTER */
footer {
    background: #00081d;
    color: #9598a1;
    padding: 35px 0;
    line-height: 50px;
}
footer a {
    color: #9598a1;
}
footer a:hover,
footer a:focus {
    color: #fff;
    text-decoration: none;
}
footer .item {
    display: inline-block;
    padding-left: 40px;
}
footer .social-btn {
    display: inline-block;
    padding-left: 7px;
}
footer img {
    height: 50px;
    display: inline-block;
    border-right: 1px solid #9598a1;
    padding-right: 40px;
}
footer .sb {
    display: inline-block;
}
@media(max-width:1200px) {
    footer .sb {
        display: block;
    }
    footer {
        text-align: center;
    }
}

@media(max-width:992px) {
    footer img {
        display: block;
        margin: 0 auto;
        border-right: none;
        padding-right: 0;
    }
}

@media(max-width:700px) {
    footer {
        line-height: 2;
        padding: 20px 0;
        font-weight: 700;
    }
    footer img {
        margin-bottom: 20px;
    }
    footer .item {
        display: block;
        padding-left: 0;
    }
    footer .sb .item {
        display: inline-block;
        padding-top: 30px;
        margin: 0 6px;
    }
    footer .sb .dropup {
        margin-left: 30px;
    }
}
footer .social-btn i {
    border-radius: 50%;
    border: 2px solid #9598a1;
    padding: 5px 5px 1px 5px;
    color: #9598a1;
}
footer .social-btn:hover i {
    border: 2px solid #fff;
    color: #fff;
}

/* ICONS */
@font-face {
    font-family: "iluzon";
    src:url("/fonts/iluzon.eot");
    src:url("/fonts/iluzon.eot?#iefix") format("embedded-opentype"),
    url("/fonts/iluzon.woff") format("woff"),
    url("/fonts/iluzon.ttf") format("truetype"),
    url("/fonts/iluzon.svg#iluzon") format("svg");
    font-weight: normal;
    font-style: normal;
}
[data-icon]:before {
    font-family: "iluzon" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "iluzon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
    content: "\61";
}
.icon-soundcloud:before {
    content: "\62";
}
.icon-fb:before {
    content: "\63";
}
.icon-youtube:before {
    content: "\64";
}
.icon-down:before {
    content: "\66";
}
.icon-headphone:before {
    content: "\6a";
}
.icon-download:before {
    content: "\6b";
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/* Forward */
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@keyframes hvr-icon-down {
    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
/* Icon Down */
.hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
}
.hvr-icon-down i {
    position: absolute;
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-down:hover i, .hvr-icon-down:focus i, .hvr-icon-down:active i {
    -webkit-animation-name: hvr-icon-down;
    animation-name: hvr-icon-down;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

/* CLOSE */
.custom-close {
    display: inline-block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    cursor: pointer; cursor: hand;
}

.custom-close::before, .custom-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 2px;
    margin-top: -1px;
}
.custom-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.custom-close:hover {
    opacity: 0.75;
}

@media(min-width:1200px) {
    .custom-close {
        top: 50px;
        right: 0;
        position: absolute;
        z-index: 1080;
    }
}
@media(max-width:1200px) {
    .custom-close {
        top: 5px;
        right: 5px;
        position: absolute;
        z-index: 1080;
    }
}
/* MENU BTN */
.menu-btn {
    width: 26px;
    height: 26px;
    overflow: hidden;
    cursor: pointer; cursor: hand;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}
.menu-btn:hover {
    opacity: 0.75;
}
.bar1, .bar2, .bar3 {
    width: 26px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}
.dark .bar1,.dark .bar2,.dark .bar3 {
    background-color: #042b64;
}

/* Arrow right */
.arrow-right {
    background: transparent url("/img/arrows_for_dark_bg.png") no-repeat;
    background-position: 0 -48px;
    display: inline-block;
    width: 90px;
    height: 15px;
    margin: -5px 0;
    padding: 0;
}

/* Slick Arrows */
.slick-prev,
.slick-next
{
    position: absolute;
    bottom: 0;
    display: block;
    float: left;
    background: transparent url("/img/arrows_for_dark_bg.png") no-repeat;
    width: 90px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: transparent;
}
.slick-prev:hover,
.slick-next:hover {
    opacity: 0.7;
}
.slick-prev.slick-disabled:hover,
.slick-next.slick-disabled:hover {
    opacity: 1;
}

.aw .slick-prev,
.aw .slick-next
{
    background: transparent url("/img/arrows_for_white_bg.png") no-repeat;
}
.album-slick-btns {
    position: relative;
    top: 10px;
    height: 45px;
}
.photo-slick-btns {
    position: fixed;
    bottom: 15px;
    right: 10px;
    left: 10px;
}

.slick-prev.slick-disabled
{
    background-position: 0 0;
}
.slick-next.slick-disabled
{
    background-position: 0 -32px;
}
.slick-prev
{
    background-position: 0 -16px;
    right: auto;
    left: 10px;
}
.slick-next
{
    background-position: 0 -48px;
    right: 10px;
    left: auto;
}

.aw .slick-prev.slick-disabled
{
    background-position: 0 0;
}
.aw .slick-next.slick-disabled
{
    background-position: 0 -32px;
}
.aw .slick-prev
{
    background-position: 0 -16px;
    right: auto;
    left: 10px;
}
.aw .slick-next
{
    background-position: 0 -48px;
    right: 10px;
    left: auto;
}

@media (min-width: 1024px) {
    .one-slick .slick-prev,
    .one-slick .slick-next {
        bottom: 45%;
    }
    .one-slick {
        padding: 0 46px;
    }
    .one-slick .slick-prev
    {
        left: -50px;
    }
    .one-slick .slick-next
    {
        right: -50px;
    }
}
@media (min-width: 1200px) {
    .one-slick {
        padding: 0;
    }
    .one-slick .slick-prev
    {
        left: -96px;
    }
    .one-slick .slick-next
    {
        right: -96px;
    }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.slick-arrows {
    height: 30px;
}